.center {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.selected { 
	border: 5px solid blue;
}
.correct{
	background-color: greenYellow !important;
}
.incorrect{
	background-color: orangeRed !important;
}

/* Elements */

body {
	font-family: 'Roboto', sans-serif;
}

.wrap {
	width: 60vh;
	height: 80vh;
	margin: auto;
	background: linear-gradient(to bottom, tan, beige, white);
	border-radius: 25px;
}

#demo_title {
	height: 10%;
}

hr{
	width: 90%; 
	background: linear-gradient(to right, green , yellow, red);
	height: 3px;
	border-width:0
}

.answer {
	height: 100px;
	width: 150px;	
	background-color: silver;
	border-radius: 25px;
	font-size: large;
	display: inline-block;
	vertical-align: middle;
}

#submit_name {
	height: 40px;
	width: 40px;
	background-color: silver;
	font-size: medium;
}

.name_container{
	height: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*box-shadow: 0px 5px 5px;*/
}
.timer{
	height: 10%;
} 

.round_score{
	height: 10%;
}

#input_body{
	height: 60%;
}

