.center {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.selected { 
	border: 5px solid blue;
}
.correct{
	/*background-color: greenYellow !important;*/
	background: radial-gradient(greenYellow, greenYellow, green) !important;
}
.incorrect{
	/*background-color: orangeRed !important;*/
	background: radial-gradient(orangeRed, orangeRed, red) !important;
}

/* Elements */

body {
	font-family: 'Roboto', sans-serif;
}

.wrap {
	width: 60vh;
	height: 80vh;
	margin: auto;
	background: linear-gradient(to bottom, tan, beige, white);
	border-radius: 25px;
}

#demo_title {
	height: 10%;
}

hr{
	width: 90%; 
	background: linear-gradient(to right, red, yellow, blue, green);
	height: 3px;
	border-width:0
}

.answer {
	height: 100px;
	width: 150px;	
/*	background-color: silver;*/
	background: radial-gradient(white, white, silver);
	border-radius: 25px;
	font-size: large;
	display: inline-block;
	vertical-align: middle;
}


.name_container{
	height: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px 10px 10px;
	box-shadow: 0px 0px 10px;
	border-radius: 25px;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.25));;
}
.name_container #submit_name {
	height: 40px;
	width: 40px;
	border-radius: 25px;
	background: radial-gradient(greenYellow, greenYellow, green);
	font-size: medium;
}

.name_container #edit_name {
	height: 30px;
	font-size: medium;
}

.timer{
	height: 5%;
} 

.round_score{
	height: 5%;
	font-size: x-large;
	font-weight: 200;
}

#input_body{
	height: 50%;
}

