body {
	font-family: "Arial Black", Gadget, sans-serif
}

hr{
	width: 90%; 
	color: gray;
	background-color: gray;
	height: 3px;
	border-width:0
}

.answer {
	height: 100px;
	width: 150px;	
	background-color: silver;
	font-size: large;
	display: inline-block;
	vertical-align: middle;
}

#submit_name {
	height: 40px;
	width: 40px;
	background-color: silver;
	font-size: medium;
}

.center {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.selected { 
	border: 5px solid blue;
}
.correct{
	background-color: greenYellow;
}
.incorrect{
	background-color: orangeRed;
}
